rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /organizations/frags-addicts/users/{userId}/snapshots/{snapshotId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }
  }
}
